<div class="u-field">
	<table class="u-criteria-table">
		<tbody>
			<tr>
				<td class="u-connector"></td>
				<td class="u-query-field">
					<div class="btn-group">
						<button type="button" class="btn btn-primary dropdown-toggle"
							data-toggle="dropdown" aria-expanded="false">
							And <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">And</a></li>
						</ul>
					</div>
				</td>
				<td class="u-operator">
					<div class="btn-group">
						<button type="button" class="btn btn-primary dropdown-toggle"
							data-toggle="dropdown" aria-expanded="false">
							And <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">And</a></li>
						</ul>
					</div>
				</td>
				<td class="u-query-value">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Username"
							aria-describedby="basic-addon1">
					</div>
				</td>
				<td class="u-remove-criteria"><span
					class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
			</tr>
			<tr>
				<td class="u-connector">
					<div class="btn-group">
						<button type="button" class="btn btn-primary dropdown-toggle"
							data-toggle="dropdown" aria-expanded="false">
							And <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">And</a></li>
						</ul>
					</div>
				</td>
				<td class="u-query-field">
					<div class="btn-group">
						<button type="button" class="btn btn-primary dropdown-toggle"
							data-toggle="dropdown" aria-expanded="false">
							And <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">And</a></li>
						</ul>
					</div>
				</td>
				<td class="u-operator">
					<div class="btn-group">
						<button type="button" class="btn btn-primary dropdown-toggle"
							data-toggle="dropdown" aria-expanded="false">
							And <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">And</a></li>
						</ul>
					</div>
				</td>
				<td class="u-query-value">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Username"
							aria-describedby="basic-addon1">
					</div>
				</td>
				<td class="u-remove-criteria"><span
					class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
			</tr>
			<tr>
				<td class="u-connector">
					<div class="btn-group">
						<button type="button" class="btn btn-primary dropdown-toggle"
							data-toggle="dropdown" aria-expanded="false">
							And <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">And</a></li>
						</ul>
					</div>
				</td>
				<td class="u-query-field">
					<div class="btn-group">
						<button type="button" class="btn btn-primary dropdown-toggle"
							data-toggle="dropdown" aria-expanded="false">
							And <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">And</a></li>
						</ul>
					</div>
				</td>
				<td class="u-operator">
					<div class="btn-group">
						<button type="button" class="btn btn-primary dropdown-toggle"
							data-toggle="dropdown" aria-expanded="false">
							And <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">And</a></li>
						</ul>
					</div>
				</td>
				<td class="u-query-value">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Username"
							aria-describedby="basic-addon1">
					</div>
				</td>
				<td class="u-remove-criteria"><span
					class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
			</tr>
			<tr>
				<td class="u-connector">
					<div class="btn-group">
						<button type="button" class="btn btn-primary dropdown-toggle"
							data-toggle="dropdown" aria-expanded="false">+ Add</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>