<div class="u-field">
	<div class="u-left u-label">Start Date Time</div>
	<div class="u-right">
		<div class='input-group date' id='stateTimePicker'>
			<input type='text' class="form-control" /> <span
				class="input-group-addon"><span
				class="glyphicon glyphicon-calendar"></span> </span>
		</div>
	</div>
</div>

<div class="u-field">
	<div class="u-left u-label">End Date Time</div>
	<div class="u-right">
		<div class='input-group date' id='endTimePicker'>
			<input type='text' class="form-control" /> <span
				class="input-group-addon"><span
				class="glyphicon glyphicon-calendar"></span> </span>
		</div>
	</div>
</div>