<html>
	<head>
		<% include partials/directives %>
		<% include partials/styles %>
		<% include partials/scripts %>
		<% include partials/schema %>
	</head>
	<body ng-app="queryBuilder">
		<div class="container" ng-controller = "buildQueryCtrl">
			<% include partials/jumbotron %>
			
			<div class="u-critera">
				<% include partials/criteria/select-table %>
				<% include partials/criteria/select-date %>
				<% include partials/criteria/select-roles %>	
			</div>
	
			<div class="u-critera">
				<div class="u-label u-header">Query</div>
				<% include partials/criteria/build-query %>							
			</div>						
		</div>
	</body>
</html>